@font-face {
  font-family: 'bangers';
  src: url('fonts/bangers.ttf');
}
body {
    background-color: white;
    color: #fd5e65;
    font-size: 25vmin;
    font-family: 'bangers';
    text-align: center;
    line-height: 83%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#words {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.qrcode {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    bottom: 4vmin;
    right: 4vmin;
}

.randomizing {
}
